{% import_yaml "common/apache/activemq/defaults.yaml" as defaults %}

# LOAD DEFAULTS, ADD SUPPORTED OS_FAMILY, THEN MERGE WITL PILLAR. PILLAR WINS SINCE ENV DELTAS ARE IMPLEMENTED THERE. 

{% set os_family_map = salt['grains.filter_by']({
    'CentoOS': {
      'pkg': 'activemq',
    },  
  }, grain="os_family", merge=salt['pillar.get']('config.common:apache:activemq'))
%}
{% do defaults.activemq.update(os_family_map) %}

{% set activemq = salt['pillar.get']('config.common:apache:activemq', default=defaults.activemq, merge=True) %}
