{% from "salty/map.jinja" import pgroup with context %}

[Unit]
Description=Zookeeper Service
After=network.target

[Service]
Type=simple
User={{pgroup.zookeeper['appuser']}}
Group={{pgroup.zookeeper['appgroup']}}
Environment=JAVA_HOME=/opt/java/latest
ExecStart={{pgroup.zookeeper['dest-path']}}/zookeeper/bin/zkServer.sh start-foreground
WorkingDirectory={{pgroup.zookeeper['dest-path']}}/zookeeper

[Install]
WantedBy=multi-user.target
